nav ul {
  max-width: 100%;
  list-style: none;
  padding: 1px;
  border: 1px solid #ccc;
  }
  
  nav ul li 
  {   
  display: inline-block;
  position: relative;
  margin-right: 50px;
  font-size: 22px;
  font-weight: bold
  }
  
  nav ul li a {
    display: block;
    padding: 22px;
    color: #000000;
    text-decoration: none;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul li ul li {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold
  }
  
  nav ul li ul li a {
    display: block;
    padding: 20px;
    color: #a7a6a6;
    text-decoration: none;
  }
  
  nav ul li ul li:hover {
    background-color: #707070;
  }

  .responsive {
    max-width: 100%; 
    height: auto; 
    background-size: cover; 
    background-position: center;
  }
  
  @media (max-width: 768px) {
    /* Pro rozlišení 768px a větší */
    .responsive{
      max-width: 30%;
      background-size: cover; /* nebo contain, podle požadavků */
      background-position: center;
    }
  }
  
  @media (max-width: 1024px) {
    /* Pro rozlišení 1024px a větší */
    .responsive{
      max-width: 50%;

      background-size: cover; /* nebo contain, podle požadavků */
      background-position: center;
    }
  }
  
fieldset {
  max-width: 100%;
  max-height: 100%;
}

fieldset legend {
  display: inline-block;
  font-size: 20px; 
  font-weight: bold;
}

fieldset label {
  width: 150px;
  font-size: 18px; 
  display: inline-block;
}

fieldset input {
  width: 200px;
  font-size: 16px; 
}

select{  
  font-size: 18px; 
  display: inline-block;
  width: 160px;
}

.ErrorMsg{
  font-size: 25px;
  color: #d61717; 
}

.DoneMsg
{
  font-size: 25px;
  color: #18fc03; 
}

.WarningMsg
{
  font-size: 25px;
  color: #ff6600; 
}

Table{
  max-width: 100%;
}
Table td{
 min-width:20px; 
}

.EAN_form_style{
  max-width: 50%;
  height: 50px;
  max-height: 100%;
}

.EAN_form_style fieldset {
  height: 130px; 
  border: 1px solid #ccc; 
}

.Buttons {
  display: flex;
  justify-content: center;
  max-width: 30%;
  }

  .Buttons table {
    width: 100%;
  }

  .Buttons td {
    text-align: center;
  }

.Button {
  font-weight: bold;
  font-size: 18px; 
}

.TradeIn_D fieldset {
  max-width: 50%;
  max-height: 50%;
  padding-block: 15px;
  padding-inline: 15px;
}

.TradeIn_D fieldset legend {
  font-size: 18px; 
  width: 300px;
  font-weight: bold;
}

.TradeIn_D fieldset label {
font-size: 18px; 
margin-right: 30px;
}

.TradeIn_D fieldset input {
  width: 300px;
  font-size: 18px; 
  display: block;
}

.TradeIn_D fieldset button {
  font-weight: bold;
  max-width: 100%;

}

.TradeIn_D fieldset select {
  width: 300px;
  font-size: 18px; 
  display: block;

}

.TWOtable {
  display: flex;
}

.TWOtableColumn {
  flex: 1;
  padding: 20px;
}

.InputField
{
display: flex;
max-width: 30%;
}

.InputPN label
{
  width: 250px;
  font-size: 18px;  
}

.InputPN input
{
  width: 250px;
  font-size: 18px;  
}

.InputText label
{
  width: 400px;
  font-size: 18px;  
}

.InputText input
{
  width: 400px;
  font-size: 18px;  
}

.header fieldset {
  display: flex;
  flex-direction: row; 
/* justify-content: space-between;  */  
}

.header fieldset input[type="text"] {
  margin-right: 10px;
  font-size: 15px;  
}

.header fieldset input[type="button"] {
  margin-right: 30px;
  font-size: 15px;
  width: 100px;  
}

#Delete
{
  margin-left: 100px;
}

.header fieldset label {
  
  font-size: 15px;  
  width: 120px;
}

.header fieldset select{
  width: 320px;
  font-size: 15px;  
  margin-right: 10px;
}